.strength-bars {
  display: flex;
}

.strength-bar {
  height: 20px;
  width: 10px;
  margin-right: 5px;
}

.very-weak-bar {
  background-color: red;
}

.weak-bar {
  background-color: red;
}

.fair-bar {
  background-color: orange;
}

.strong-bar {
  background-color: green;
}

.very-strong-bar {
  background-color: green;
}

.generate-button {
  background-color: lightgreen;
  border: none;
}

.copy-button {
  color: lightgreen;
  border: none;
}

.generated-button {
  border: none;
}

.initial-container {
  width: 30%!important;
}

@media screen and (max-width: 767px) {
  .initial-container {
    width: 80%!important;
    }
}
